@use "../abstract/functions" as F;
@use "../abstract/mixins" as M;
@use "../abstract/variables" as V;

// @include M.respond-up(V.$small-screen) {
//     flex-direction: column;
// }

.error-page {
	padding: 3.34em 2.4em;
	background-color: V.$white;
	text-align: center;
	margin-top: V.$xs-padding;
	margin-bottom: V.$xs-padding;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	> h1 {
		margin-bottom: F.toem(10);
		color: V.$cyanNorm;
		font-weight: 700;
		font-size: F.toem(64);
		@include M.respond-up(V.$small-screen) {
			font-size: F.toem(40);
		}
	}
	> p {
		font-size: 1.5rem;
		font-weight: 500;
		color: V.$grayishBlue;
		margin-bottom: F.toem(10);
		@include M.respond-up(V.$small-screen) {
			font-size: 1.2rem;
		}
	}
}
